










<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.billiards.mapper.ChallengeMapper">

    <resultMap id="BaseResultMap" type="com.billiards.entity.Challenge">
        <id column="id" property="id" />
        <result column="initiator_id" property="initiatorId" />
        <result column="ballroom_id" property="ballroomId" />
        <result column="ball_type" property="ballType" />
        <result column="format_type" property="formatType" />
        <result column="format_value" property="formatValue" />
        <result column="start_time" property="startTime" />
        <result column="max_players" property="maxPlayers" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="score_initiator" property="scoreInitiator" />
        <result column="score_opponent" property="scoreOpponent" />
        <result column="winner_id" property="winnerId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>









